torch
triton
--extra-index-url https://download.pytorch.org/whl/cu126
xformers

fire
simple-parsing
pyyaml
mistral-common>=1.3.1
safetensors
tensorboard
tqdm


#numpy

transformers

peft
accelerate
sentencepiece